/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

h1,
h2,
h3,
h4 {
  color: $font-color;
  font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0 0 5px 0;
}

h1 {
  font-size: 30px;
  color: #333333 !important;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
  color: #9B9B9B !important;
}

h5 {
  font-size: 12px;
  font-weight: 700;
  color: #9B9B9B !important;
}

.h1-nopadding,
.h2-nopadding,
.h3-nopadding,
.h4-nopadding,
.h5-nopadding {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

p,
ul,
ol {
  font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;

  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}

a {
  color: $primary-color;
  text-decoration: underline;
}

// Break long strings to prevent x-scrolling
code,
pre,
.word-wrap {
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
