---
layout: default.hbs
subject: Simple Transactional Email
---
<span class="preheader">DevOps ELK RabbitMQ Memory Usage (%)</span>
<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <h2 class="align-left h2-nopadding">DevOps ELK RabbitMQ Memory Usage (%)</h2>
                        <h4 class="">[DevOps][critical][ELK]</h4>
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <td>
                        <h2 class="align-left">🔥 ERROR</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> divider }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> button type='secondary' expanded=true align='center' url='https://github.com/leemunroe/grunt-email-workflow' title='Open in Moira' }}

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

